# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Entornos virtuales
venv/
env/
ENV/
.venv

# IDs y editores
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Datos (pero NO los resultados)
data/

# Logs
*.log

# NO ignoramos resultados - queremos las imágenes en GitHub
# resultados/